body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    132deg,
    rgba(2, 0, 36, 0.7) 0%,
    rgba(9, 9, 121, 0.7) 35%,
    rgba(0, 212, 255, 0.7) 100%
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
